<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3 th:text="${book.getName()}"></h3>
    <h3 th:text="${book.getAuthor()}"></h3>
    <h3 th:text="${book.getYear()}"></h3>
    <br>
    <a th:href="@{/books/{id}/edit (id=${book.getId()})}">Edit</a>
    <form th:method="delete" th:action="@{/books/{id} (id=${book.getId()})}">
        <input type="submit" value="Delete">
    </form>


    <div th:if="${owner}">
        <span>The owner of this book is:</span>
        <span th:text="${owner.getName()} + ', ' + ${owner.getAge()} "></span>
        <form th:method="patch" th:action="@{/books/{id}/release (id=${book.getId()})}">
            <input type="submit" value="Release">
        </form>
    </div>

    <div th:if="${people}">
        <p>The book is available</p>
        <form th:method="patch" th:action="@{/books/{id}/assign (id=${book.getId()})}">
            <label for="select">Assign this book to: </label>
            <select id="select" th:object="${person}" th:field="*{id}">
                <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getName()} + ' ' + ${person.getAge()}">

                </option>
            </select>
            <input type="submit" value="Assign">
        </form>
    </div>

</body>
</html>